<html>
  <head>
    <div class="title_index"> Ben Sutton Weather</div>
  </head>
   <body class="container_index"></body>
    <div>
     <fieldset>
       <form action="/" method="post">
         <input name="city" type="text" class="ghost-input text_style_index" placeholder="Enter a City" required>
        <input type="submit" class="ghost-button" value="Get Weather" class="text_style div_absolute">
       </form>
     </fieldset>
        <img id=logo src="https://media.altpress.com/uploads/2018/06/teletubbiesun.png" alt="sunny day" class="image_center image_size"></a>
       <h1 id="picture_header center_text" class="center text_style_index">Check your weather now, to ensure a happy, and sunny day!</h1>
    </div>
</body>
</html>